.topnav {
    background-color: teal;
    height: 3em;
    
}

.topnav a {
    float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
    color: tomato;
}

h1 {
    color: darkolivegreen;
    text-align: center;
}
h2 {
    color: teal;
    text-align: center;
    margin: 1em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.recipe-desc {
    color: teal;
    text-align: center;
}

.links {
    text-align: center;
    margin: 2em;
}