h1 {
    color: darkolivegreen;
    text-align: center;
}
h2 {
    color: teal;
    text-align: center;
    margin: 1em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.recipe-desc {
    color: teal;
    text-align: center;
}

.links {
    text-align: center;
    margin: 2em;
}